Echo # special-pancake 
Special-pancake

# candy installation 
*.apk
*.ios

              ///  send this apk in you're friend


On-
  Push-
  Branches-
   Main-





A freeze honey - False

# garbage 
*.Apk/package
*.ap/apps

# txt
Tmp.txt
Text.txt


            
Done. 


# version apk
       10.x

Then int a - ["pancake"]/release - - - 


MENU() 



Import: Https://github.com/GomblinWord/GoblinWordGenerator
  
