Echo # special-pancake 
Special-pancake

# candy installation 
*.apk
*.ios

              ///  send this apk in you're friend

A freeze honey - False

# garbage 
*.Apk/package
*.ap/apps

# txt
Tmp.txt
Text.txt


            
             }


}

End       
